{% extends 'global/layout.html' %}

{% load static %}

{% block content %}

<div class="container justify-content-center mt-3 ">
        <div class="row">
            <div class="col-md-15">
                <div class="card">
                    <div class="col-sm-12" style="background-color: rgb(78, 170, 167); border: 1px solid #333">
                        <h4 class="card-title text-center mt-0" style="color:white;"> Creación de paquetes </h4>
                    </div>
                    <div class="card-body" style="background-color: rgb(78, 170, 167);margin-top:1%; border: 1px solid #333;">
                        <div class="form-group row ">
                            <div class="row align-items-start">
                                <div class="col-sm-3">
                                    <label  class="form-label fw-bold" style="color:white;">Nombre de paquete</label>
                                    <input class="form-control" type="text" name="nombre_paquete" value=""  />
                                </div>
                                <div class="col-sm-3">
                                    <label for="tipo" class=" form-label mr-2 fw-bold" style="color:white;">Tipo:</label>
                                    <select class="form-control border border-2 " id="tipo" name="tipo">
                                        <option value="">Tipo1</option>
                                        <option value="">Tipo2</option>
                                        <option value="">Tipo3</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mt-4">
                                    <div class="card">
                                    <table class="table table-striped" style="margin-top:0.5%;">
                                        <thead>
                                            <tr>
                                                <th>Cod</th>
                                                <th>Examen o preventivo?</th>
                                                <th>Seleccionar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>
                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>
                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-15 mt-4">
                                    <button class="btn btn-primary" style="float:right;" type="submit">Agregar a tabla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: rgb(78, 170, 167);margin-top:1%; border: 1px solid #333;">
                        <div class="form-group row ">
                            <div class="row align-items-start" style="background-color:white;margin-left:1px;">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    <table class="table table-striped" style="margin-top:0.5%;">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Cod_examen</th>
                                                <th>Examen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mb-3" style="padding-left: 80%;">
                                    <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#modalpaquetes">Crear paquete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!-----Modal crear paquete---->
    <div class="modal modal-lg fade" id="modalpaquetes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(78, 170, 167);">
              <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Creación del paquete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row ">
                        <div class="row">
                            <div class="col-sm-6">
                                <label  class="form-label fw-bold">Nombre de paquete</label>
                                <input class="form-control" type="text" name="nombre_paquete" value=""  />
                            </div>
                            <div class="col-sm-15 mt-3">
                                 <div style="max-height: 600px; overflow-y: auto;">
                                    <table class="table table-striped" style="margin-top:0.5%;">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Cod_examen</th>
                                                <th>Examen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                            <tr>
                                                <td>19218511-4</td>
                                                <td>Mi Nombre</td>
                                                <td>133</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(78, 170, 167);">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Crear</button>
            </div>
          </div>
        </div>
    </div>

{% endblock %}