{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container justify-content-center mt-3 ">
        <div class="row">
            <div class="col-md-15">
                <div class="card">
                    <div class="col-sm-12" style="background-color: rgb(78, 170, 167); border: 1px solid #333">
                        <h4 class="card-title text-center mt-0" style="color:white;"> Agendar Hora Medica </h4>
                    </div>
                    <form id="filtroForm" method="post" class="form-group row">
                                {% csrf_token %}
                    <div class="card-body" style="background-color: rgb(78, 170, 167);margin-top:1%; border: 1px solid #333;">
                        <div class="form-group row">
                            <div class="row align-items-start">
                                <div class="col-sm-4">
                                    <label for="busqueda" class="mr-2 fw-bold" style="color:white;">filtro:</label>
                                    <select class="form-control border border-2 " id="busqueda" name="busqueda" onchange="mostrarEntradas()">
                                        <option value="codigo1">Rut</option>
                                        <option value="codigo2">Preventivo</option>
                                        <option value="codigo3">Empresa</option>
                                        <option value="codigo4">Urgencia</option>
                                        <option value="codigo5">Hospitalario</option>
                                        <option value="codigo6">Fecha</option>
                                    </select>
                                </div>

                                <div class="col-sm-4" style="display: none;" id="busquedaRutDiv">
                                    <label for="busquedaRut" class="mr-2 fw-bold" style="color:white;">Rut</label>
                                    <input type="text" class="form-control" id="busquedaRut" name="busquedaRut" placeholder="Ejemplo: 11111111-1">
                                    <div id="mensaje1" style="color: red;"></div>
                                </div>
                                <div class="col-sm-4" style="display: none;">
                                    <label for="busquedaPreventivo" class="mr-2 fw-bold" style="color:white;">Preventivo</label>
                                    <input type="text" class="form-control" id="busquedaPreventivo" name="busquedaPreventivo" placeholder="Preventivo">
                                    <div id="mensaje2" style="color: red"></div>
                                </div>
                                <div class="col-sm-4" style="display: none;">
                                    <label for="busquedaEmpresa" class="mr-2 fw-bold" style="color:white;">Empresa</label>
                                    <input type="text" class="form-control" id="busquedaEmpresa" name="busquedaEmpresa" placeholder="Nombre empresa">
                                    <div id="mensaje3" style="color: red"></div>
                                </div>
                                <div class="col-sm-3" style="display: none;" id="busquedafecha1">
                                    <label for="fechaInicio" class="fw-bold"  style="color:white;">Inicio: </label>
                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
                                </div>

                                <div class="col-sm-3" style="display: none;" id="busquedafecha2">
                                    <label for="fechaFin" class="fw-bold"  style="color:white;">Fin: </label>
                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin">

                                </div>
                                <div class="col-sm-2 mt-4" style="display: none;" id="botonbusqueda">
                                    <button class="btn btn-primary" type="button" id="filtro" >Filtrar</button>
                                </div>
                                <div id="mensaje4" style="color: red"></div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: rgb(78, 170, 167);margin-top:1%; border: 1px solid #333;">
                        <div class="form-group row ">
                            <div class="row align-items-start" style="background-color:white;margin-left:1px;">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    <table class="table table-striped" style="margin-top:0.5%;">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Nombre</th>
                                                <th>Telefono</th>
                                                <th>Preventiva</th>
                                                <th>Empresa</th>
                                                <th>Ejecutiv@(quien envio)</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mb-3 mt-3" style="padding-left: 80%;background-color:white;">
                                    <label class="fw-bold" style="color:red;">Urgencia</label>
                                    <label class="fw-bold">-</label>
                                    <label class="fw-bold" style="color:blue;">Hospitalario</label>
                            </div>
                        </div>
                    </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-----Modal---->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(78, 170, 167);">
              <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Agendar hora</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row ">
                        <div class="row align-items-start">
                            <div class="col-sm-4">
                                <label  class="form-label fw-bold">Fecha</label>
                                <input class="form-control" type="date" name="fecha" value=""  />
                            </div>
                            <div class="col-sm-4">
                                <label  class="form-label fw-bold">Hora</label>
                                <input class="form-control" type="time" name="hora" value=""  />
                            </div>
                            <div class="col-sm-4">
                                <label  class="form-label fw-bold">Med. Tratante</label>
                                <input class="form-control" type="text" name="medico" value=""  />
                            </div>
                            <div class="col-sm-15 mt-3">
                                <label  class="form-label fw-bold">Comentario</label>
                                <textarea class="form-control" type="text" name="comentario" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(78, 170, 167);">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/agenda_hora/filtro.js' %}"></script>


{% endblock %}